<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    [ngStyle]="{backgroundColor: '#3f51b5'}"
    class="border-solid"
    fixedInViewport="true"
    fxLayout
  >
    <div fxLayout [ngStyle]="{width: '250px'}">
      <div>Sidenav content</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main toolbar / navbar -->
    <mat-toolbar
      role="toolbar"
      color="primary"
      class="mat-elevation-z1"
      fxLayout
      [ngStyle]="{padding: 0}"
    >
      <app-project-header fxFill></app-project-header>
    </mat-toolbar>
    <div fxFlexFill fxLayout="column">
      <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      </div>
      <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center start">
        <media-query-status></media-query-status>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
