<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="24px" fxFill>
	<div fxFlex="1 1 calc(33.32%-24px)" fxLayout="row" fxLayoutAlign="center center" class="border-x-solid border-btm-solid font-tiny">
		Projekt
	</div>
	<div fxFlex="1 1 calc(16.66%-24px)" fxLayout="row" fxLayoutAlign="center center" class="border-x-solid border-btm-solid font-tiny">
		Auftragsvolumen
	</div>
	<div fxFlex="1 1 calc(16.66%-24px)" fxLayout="row" fxLayoutAlign="center center" class="border-x-solid border-btm-solid font-tiny">
		Kalkulations DB
	</div>
	<div fxFlex="1 1 calc(16.66%-24px)" fxLayout="row" fxLayoutAlign="center center" class="border-x-solid border-btm-solid font-tiny">
		DBV
	</div>
	<div fxFlex="1 1 calc(16.66%-24px)" fxLayout="row" fxLayoutAlign="center center" class="border-x-solid border-btm-solid font-tiny">
		Prognose
	</div>
</div>
