.border-solid,
.border-x-solid,
.border-rgt-solid {
	border-right: 1px solid;
}

.font-tiny {
	font-size: 12px;
	font-weight: normal;
}

.border-solid,
.border-x-solid,
.border-lft-solid {
	border-left: 1px solid;
}

.border-solid,
.border-y-solid,
.border-btm-solid {
	border-bottom: 1px solid;
}

.border-solid,
.border-y-solid,
.border-top-solid {
	border-top: 1px solid;
}
